<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Bookmarx</title>
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="/css/simplegrid.css" /> -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<!-- <link rel="stylesheet" type="text/css" href="/css/edit.css">
	<link rel="stylesheet" type="text/css" href="/css/dropdown.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300|Montserrat:400,700' rel='stylesheet' type='text/css'>-->

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
	<nav class="navbar">
		<ul>
			<li class="navbar-left menu-button full-width">
				<a href="#openSidebar" class="button" id="menu"><i id="menu-icon" class="fa fa-bookmark-o fa-lg"></i> Bookmarx</a>
			</li>
	  		<li class="navbar-left search full-width">
	  			<form method="get" name="search" id="searchForm">
	  				<% if(search == '') { %>
	  					<input class="min-input" name="Search" type="text" placeholder="Search Bookmarks" />
	  				<% } else { %>
	  					<input name="Search" type="text" value="<%= search%>"/>
	  				<% } %>
	  				<!-- DO NOT remove these two inputs. They indicate the current folder and order status.
      				These will be used to assist the search function. In final version, will set them hidden.-->
      				<!--input name="CurrentFolderId" style="display: none;" type="text" value="<%= current_folder_id%>"/-->
      				<input name="SortBy" style="display: none;" type="text" value="<%= order_by%>"/>
	  				<button><i class="fa fa-search fa-lg"></i></button>
	  			</form>
	  		</li>
		  		<li class="navbar-right min-sort-size">
					<!-- need to add  this div class func so css works with it 	<div class="dropdown">
						<div class="dropdown-content"> -->
				<form method="get" name="orderBy" id="orderByForm">
				    <input name="Search" type="hidden" value="<%= search%>"/>
					<!--<select class="select-btn pull-right standardize-header-components" name="SortBy" onchange='this.form.submit()'>-->
					<select class="select-dropdown-content nav-btn" name="SortBy" onchange='this.form.submit()'>
			        	<option disabled <%=order_by == undefined ? "" : "selected"%>>Sort</option>
			        	<option value="bookmarks.title" <%=order_by == "bookmarks.title" ? "selected" : ""%>>Title</option>
			        	<option value="bookmarks.url" <%=order_by == "bookmarks.url" ? "selected" : ""%>>URL</option>
			        	<option value="bookmarks.create_date" <%=order_by == "bookmarks.create_date" ? "selected" : ""%>>Create Date</option>
			        	<option value="bookmarks.last_visit_date" <%=order_by == "bookmarks.last_visit_date" ? "selected" : ""%>>Last Visits</option>
			        	<option value="bookmarks.star" <%=order_by == "bookmarks.star" ? "selected" : ""%>>Starred</option>
			        </select>
			        <noscript><input class = "nav-btn" type="submit" value="Sort!"></noscript>
			    </form>
				<!--		</div> </div>  -->
		  		</li>
	  			<li class="navbar-right">
	  				<a href="#addBookmark" class="button"><i class="fa fa-plus fa-lg"></i></a>
	  				<a href="#importBookmark" class="button">import&nbsp;&nbsp;&nbsp;<i class="fa fa-download fa-lg"></i></a>

	  				<div id="addBookmark" class="modalDialog">

				    <div class="grid grid-pad">
				    	<a href="#close" title="Close" class="close x-button">x</a>
				    	<div class="tabs is-centered">
						  <ul>
						    <li id="add-bookmark" class="is-active"><a>Add Bookmark</a></li>
						<!--    <li id="import-bookmark"><a>Import Bookmarks</a></li>-->
						  </ul>
						</div>
							  <form method='post' action='/insert' id="addBookmarkForm">
							        <div class="form" id="add-bookmark-form">
									    <input type="text" name="title" value="" placeholder="Title" required>

									    <div class="textFieldWrapper">
									      <input type="text" name="url" value="" placeholder="http://www.example.com" required>
									    </div>

											<div class="ListFieldWrapper">
											<select class="select-dropdown-content" name="folder_id">
												<% folders.forEach(function(folder) { %>
													<option value="<%= folder.id%>" <%=current_folder_id == folder.id ? "selected" : ""%> ><%= folder.name %></option>
												<% }); %>
											</select>
											</div>

										    <div class="buttonWrapper">
										      	<div><input type='submit' value="Save"></div>
										      	<div><a href="#close" title="Close" class="close"><i class="fa fa-times-circle fa-lg"></i> Cancel</a></div>
											 </div>
								  </form>
							 </div>
						<div class="form" id="import-bookmark-form">
							<form method="post" action="/upload" enctype="multipart/form-data">
							<div class="textFieldWrapper">
						      <input type="file" name="bookmark-import" placeholder="File Path">
						    </div>
						    <div class="buttonWrapper">
						    		<div><input type='submit' value="Upload"></div>
							      	<!--div><i class="fa fa-folder-open fa-lg" type="submit"></i> Submit</div-->
							      	<div><a href="#close" title="Close" class="close"><i class="fa fa-times-circle fa-lg"></i> Cancel</a></div>
							</div>
						</form>
						</div>
					</div>
				</div>

				<div id="importBookmark" class="modalDialog">
                        <div class="grid grid-pad">
                            <a href="#close" title="Close" class="close x-button">x</a>
                            <div class="tabs is-centered">
                                <ul>
                                    <li id="add-bookmark1" class="is-active"><a>Import Bookmarks!</a></li>
                                </ul>
                            </div>
                            <form method="post" action="/upload" enctype="multipart/form-data">
                                <div class="form" id="add-bookmark-form1">
                                     <input type="file" name="bookmark-import" placeholder="File Path">

                                    <div class="buttonWrapper">
                                        <div><input type='submit' value="Upload"></div>
                                    </div>
                            </form>
                        </div>

                    </div>
                </div>


                    <div id="addFolder" class="modalDialog">
                        <div class="grid grid-pad">
                            <a href="#close" title="Close" class="close x-button">x</a>
                            <div class="tabs is-centered">
                                <ul>
                                    <li id="add-bookmark1" class="is-active"><a>Add Folder</a></li>
                                </ul>
                            </div>
                            <form method='post' action='folders' id="addFolderForm">
                                <div class="form" id="add-bookmark-form1">
                                    <input type="text" name="name" placeholder="Name" required>

                                    <div class="buttonWrapper">
                                        <div><input type='submit' value="Save"></div>
                                    </div>
                            </form>
                        </div>
                    </div>
	  		</li>
		</ul>
	</nav>
	<div id="openSidebar" class="showSidebar">
		<div id="sidebar">
		  <input type="hidden" id="currentFolder" value="<%=current_folder_id%>"></input>
	      <ul id="folderList">
	            <li class="pinned"><a href="/list/starred" <%- current_folder_id == "starred" ? "style='color: #FF9EAE;'" : "" %>><i class="fa fa-star fa-lg" id="folder-starred"></i> Starred</a></li>
	            <li class="pinned"><a href="/list" <%- (!current_folder_id) ? "style='color: #FF9EAE;'" : "" %>><i class="fa fa-th fa-lg" id="folder-all"></i> All</a></li>
	            <% folders.forEach(function(folder) { %>
	            	<li><a id="folder-<%=folder.id%>" href="/list/<%= folder.id%>" <%- current_folder_id == folder.id ? "style='color: #FF9EAE;'" : "" %>><%= folder.name%></a>
	                    <a class="pad-trash-icon" href="/folders/delete/<%= folder.id%>" id="delete-folder-<%=folder.id%>"><i class="fa fa-trash-o fa-lg"></i></a>
	                </li>

	            <% }); %>
	      </ul>
	      <div class="buttonWrapper">


	      	<a href="#addFolder" ><div><i class="fa fa-plus-circle fa-lg"></i> Folder</div></a>


	        <a href="/bookmarks/download" ><div><i class="fa fa-upload fa-lg"></i> Export</div></a>
	        <noscript>
	        	<a class="hideClose" href="#" ><div><i class="fa fa-times fa-lg"></i>Close</div></a>
	        </noscript>
	      	<a href="/logout" ><div><i class="fa fa-sign-out fa-lg"></i> Logout</div></a>
		  </div>
	    </div>
    </div>
    <div id="right">
      <div id="right-content" class="main grid grid-pad">
          <!-- Display server-side error messages -->
          <% if(typeof errors !== 'undefined' && errors.length > 0) { %>
            <div class="insertupdate-errors">
                <ul>
                    <% for(var i=0; i < errors.length; i++) { %>
                          <li><%= errors[i].msg %></li>
                    <% } %>
                </ul>
            </div>
          <% } %>
          <!-- -->
      		<div id="title" class="col-1-1">
      			<div class="content">
      				<h1>BookMarx</h1>
      			</div>
      		</div>
      		<div class="bookmarks">
			<% bookmarks.forEach(function(bookmark) { %>
	      	<div class="col-1-3 mobile-col-1-3 card-min-width">
				<div class="content">
					<div class="card card--small">
						<div style="background-color:#DE2924" class="card__image"></div>
						<a href="<%= bookmark.url %>"><h2 class="card__title"><%= bookmark.title %></h2></a>
							<div class="card__action-bar">
							<% if (bookmark.star == 0) { %>
  								<a class="card__button" href="/bookmarks/<%= bookmark.id%>/star" id="star-bookmark-<%=bookmark.id%>"><i class="fa fa-star fa-lg fa-star-inactive"></i></a>
							<% } else { %>
								<a class="card__button" href="/bookmarks/<%= bookmark.id%>/unstar" id="star-bookmark-<%=bookmark.id%>"><i class="fa fa-star fa-lg"></i></a>
							<% } %>

							<a class="card__button" href="/bookmarks/edit/<%= bookmark.id%>" id="edit-bookmark-<%=bookmark.id%>"><i class="fa fa-info-circle fa-lg"></i></a>
							<a class="card__button" href="/bookmarks/delete/<%= bookmark.id%>" id="delete-bookmark-<%=bookmark.id%>"><i class="fa fa-trash-o fa-lg"></i></a>
						</div>
					</div>
				</div>
			</div>
			<% }); %>
			</div>
      </div>
    </div>
		<br>

</body>
</html>
