<!-- Could use same template as add.ejs, but chose to split for clarity in example -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Bookmark</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Open+Sans:400,300%7CMontserrat:400,700'>
</head>
<body>
    <h1>Edit Bookmark</h1>
    <div style="max-width: 300px; margin: 0 auto;">
        <% if(typeof errors !== 'undefined' && errors.length > 0) { %>
                <div class="insertupdate-errors">
                   <ul>
                   <% for(var i=0; i < errors.length; i++) { %>
                       <li><%= errors[i].msg %></li>
                   <% } %>
                   </ul>
               </div>
        <% } %>
        <form action="/bookmarks/update/<%= bookmark.id %>" method="post">
            <!--  Use CSS to be modern -->
            <table>
                <tr><td>Title: </td><td><input type="text" name="title"  value="<%= bookmark.title %>" ></td></tr>
                <tr><td>URL: </td><td><input type="text" name="url" value="<%= bookmark.url %>"></td></tr>
                <tr><td>Folder: </td><td>
                    <select name="folder_id">
                        <% folders.forEach(function(folder) { %>
                            <option value="<%= folder.id%>" <%=bookmark.folder_id == folder.id ? "selected" : ""%>><%= folder.name %></option>
                        <% }); %>
                    </select>
                </td>
                </tr>
                <tr><td colspan="2">
                        <input type='submit' value="Save">
                        &nbsp;
                        <!-- Could also pass to the server as a submit and determine redirect action there -->
                        <a href='/list' style="text-decoration: none;"><input type="button" value='Cancel Edit'></a>
                    </td></tr>
            </table>
        </form>
    </div>
</body>